@model HistoryLinkVM
@{
    ViewData["Title"] = string.Format("Ping {0} - {1}", Model.PingId, Model.User);
}
<div class="text-right">
    @Context.User.Identity.Name
    |
    <a href="@Url.Action("Logout", "Auth")">Sign out</a>
</div>
<div class="text-center">
    <h4>Ping @Model.PingId - @Model.User</h4>
    <p class="text-left">
        <a href="@Url.Action("Ping", "History", new { pingId = Model.PingId })">Back</a>
    </p>
    <h6 class="text-left">
        <a data-toggle="collapse" href="#infoTable">Show/hide ping info</a>
    </h6>
    <table class="table table-sm collapse" id="infoTable">
        <thead>
            <tr>
                <th>Guild</th>
                <th>Date</th>
                <th>Author</th>
                <th>Text</th>
                <th>Actions</th>
                <th>Views</th>
                <th>Other</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Model.PingGuild</td>
                <td>@Model.PingCreated.ToUniversalTime().ToString("dd.MM.yyyy HH:mm")</td>
                <td>@Model.PingAuthor</td>
                <td class="text-left">@Html.Raw(Model.PingText.Html())</td>
                <td>@Model.ActionCount</td>
                <td>@Model.ViewsCount</td>
                <td>@Model.OtherCount</td>
            </tr>
        </tbody>
    </table>
    <h6 class="text-left">
        Actions:
    </h6>
    <table class="table table-striped table-sm">
        <thead>
            <tr>
                <th>When</th>
                <th>Origin</th>
                <th>User Agent</th>
                <th>Data</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Actions.Any() == false)
            {
                <tr>
                    <td colspan="4" align="center">No actions to display</td>
                </tr>
            }
            else
            {
                @foreach (var linkAction in Model.Actions)
                {
                    <tr class="@(linkAction.IsView ? "table-default" : "table-warning")">
                        <td>@linkAction.When.ToUniversalTime().ToString("dd.MM.yyyy HH:mm")</td>
                        <td>@linkAction.Origin</td>
                        <td class="text-left">@linkAction.UserAgent</td>
                        <td>@linkAction.Data</td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
