@model HistoryPingVM
@{
    ViewData["Title"] = string.Format(
        "Ping at {0} from {1}", 
        Model.Created.ToUniversalTime().ToString("dd.MM.yyyy HH:mm"), 
        Model.Author);
}
<div class="text-right">
    @if(Context.User.Identity.Name != "public")
    {
        var logoutUrl = Url.Action("Logout", "Auth");
        <div>@Context.User.Identity.Name | <a href="@logoutUrl">Sign out</a></div>
    }
</div>
<div class="text-center">
    <h4>@ViewData["Title"]</h4>
    <p class="text-left">
        <a href="@Url.Action("Index", "history")">Back to index</a>
    </p>
    <h6 class="text-left">
        <a data-toggle="collapse" href="#infoTable">Show/hide ping info</a>
    </h6>
    <table class="table table-sm collapse" id="infoTable">
        <thead>
            <tr>
                <th>Text</th>
                <th>Users</th>
                <th>Actions</th>
                <th>Views</th>
                <th>Other</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="text-left">@Html.Raw(Model.Text.Html())</td>
                <td>@Model.UserCount</td>
                <td>@Model.ActionCount</td>
                <td>@Model.ViewsCount</td>
                <td>@Model.OtherCount</td>
            </tr>
        </tbody>
    </table>
    <div class="text-left">
        <a href="@Url.Action("Timeline", "History", new { pingId = Model.Id })">Actions timeline</a>
    </div>
    <h6 class="text-left">
        Links:
    </h6>
    <table class="table table-striped table-sm">
        <thead>
            <tr>
                <th>User</th>
                <th>ID</th>
                <th>Actions</th>
                <th>Views</th>
                <th>Other</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Links.Any() == false)
            {
                <tr>
                    <td colspan="5" align="center">No links to display</td>
                </tr>
            }
            else
            {
                @foreach (var link in Model.Links)
                {
                    <tr class="@(link.OtherCount > 0 ? "table-warning" : "table-default")">
                        <td>@link.User</td>
                        <td class="text-left">
                            <a href="@Url.Action("Link", "History", new { pingId = Model.Id, linkId = link.Id.ToShortString() })">
                                @link.Id.ToShortString()
                            </a>
                        </td>
                        <td>@link.ActionCount</td>
                        <td>@link.ViewsCount</td>
                        <td>@link.OtherCount</td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>