@model HistoryTimelineVM
@{
    ViewData["Title"] = string.Format(
        "Ping at {0} from {1} - Timeline", 
        Model.PingCreated.ToUniversalTime().ToString("dd.MM.yyyy HH:mm"), 
        Model.PingAuthor);
}
<div class="text-right">
    @if(Context.User.Identity.Name != "public")
    {
        var logoutUrl = Url.Action("Logout", "Auth");
        <div>@Context.User.Identity.Name | <a href="@logoutUrl">Sign out</a></div>
    }
</div>
<div class="text-center">
    <h4>@ViewData["Title"]</h4>
    <p class="text-left">
        <a href="@Url.Action("Ping", "History", new { pingId = Model.PingId })">Back to ping</a>
    </p>
    <h6 class="text-left">
        <a data-toggle="collapse" href="#infoTable">Show/hide ping info</a>
    </h6>
    <table class="table table-sm collapse" id="infoTable">
        <thead>
            <tr>
                <th>Text</th>
                <th>Actions</th>
                <th>Views</th>
                <th>Other</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="text-left">@Html.Raw(Model.PingText.Html())</td>
                <td>@Model.ActionCount</td>
                <td>@Model.ViewsCount</td>
                <td>@Model.OtherCount</td>
            </tr>
        </tbody>
    </table>
    <h6 class="text-left">
        Actions:
    </h6>
    <table class="table table-striped table-sm">
        <thead>
            <tr>
                <th>When</th>
                <th>User</th>
                <th>Origin</th>
                <th>User Agent</th>
                <th>Data</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Actions.Any() == false)
            {
                <tr>
                    <td colspan="5" align="center">No actions to display</td>
                </tr>
            }
            else
            {
                @foreach (var action in Model.Actions)
                {
                    <tr class="@(action.Action.IsView ? "table-default" : "table-warning")">
                        <td>@action.Action.When.ToUniversalTime().ToString("dd.MM.yyyy HH:mm")</td>
                        <td>@action.User</td>
                        <td>@action.Action.Origin</td>
                        <td class="text-left">@action.Action.UserAgent</td>
                        <td>@action.Action.Data</td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
